# ----------------------------------------------------------------------------------- #
# Generar una nueva SECRET_KEY con: python -c "import secrets; print(secrets.token_urlsafe(32))"
# ----------------------------------------------------------------------------------- #
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Base de datos
DATABASE_URL=sqlite:///./stock.db
DB_ECHO=False
RUN_SEEDER=false

# API
API_HOST=127.0.0.1
API_PORT=8000
API_RELOAD=true
API_VERSION=0.3.1

# Stock
STOCK_ALERT_THRESHOLD=5

# CORS con algun reverse proxy que haga certificados SSL
# implementar a la Raspberry pi 5 en test esto
CORS_ORIGINS=http://localhost:3000,http://localhost:8080

# Rate limiting (intentos por minuto)
RATE_LIMIT_ENABLED=true
LOGIN_RATE_LIMIT=5/minute
REGISTER_RATE_LIMIT=2/minute

# Entorno (development / production)
ENVIRONMENT=production